<!-- Black Rook J2EE Framework -->

<listener>
	<listener-class>com.blackrook.j2ee.Toolkit</listener-class>
</listener>

<servlet>
	<servlet-name>DispatcherServlet</servlet-name>
	<servlet-class>com.blackrook.j2ee.DispatcherServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>DispatcherServlet</servlet-name>
	<url-pattern>*.view</url-pattern>
</servlet-mapping>
