<!-- Required Servlets -->

<servlet>
	<servlet-name>BRDispatcherServlet</servlet-name>
	<servlet-class>com.blackrook.framework.BRDispatcherServlet</servlet-class>
	<load-on-startup />
</servlet>
<servlet-mapping>
	<servlet-name>BRDispatcherServlet</servlet-name>
	<url-pattern>*.view</url-pattern>
</servlet-mapping>
